body{
  overflow-x: hidden;
}

a::before, a:hover::before, .pivot_button::before, .pivot_button:hover::before{
  background: transparent;
}
.associate{
  width: 460px;
  display: block;
}
@media (max-width: 480px){
  .associate{
    width: 86vw;
    display: block;
  }
}