.tracks * {
  text-align: center;
}

.tracks {
  padding: 3rem;
  background-color: #1d1d37;
}

.tracks div{
  display: inline-block;
}

.tracks img {
  width: 200px;
  margin: 1rem;
  border-radius: 10px;
}
