.bottom-left{
    position: relative;
    top: 60%;
}

.full_screen{
    height: 100vh;
    width: 100vw;
    background: #1e1e1e;
    color: #fcfcfc;
    overflow: hidden;
    background-image: linear-gradient(30deg, #cc3333 , #ff9933);
    background-size: cover;
}

.pivot_container{
    position: fixed;
    top: 0px;
}
.middle{
    position: relative;
    top: 35%;
    width: 100%;
    display: block;
    margin: auto;
}
.middle h1{font-size: 8vw;}
.backlink{
    color: #fcfcfc;
    width: 20vw;
    display: block;
    margin: auto;
    font-size: 6vh;
}
.backlink::before{
    background: #fcfcfc;
    position: relative;
    top: 150%;
    height: 25%;
}