.bottom-left{
    position: relative;
    top: 60%;
}

.full_screen{
    height: 100vh;
    width: 100vw;
    background: #1e1e1e;
    color: #fcfcfc;
    overflow: hidden;
    background-image: linear-gradient(586deg, rgba(225, 225, 225, 0.05) 0%, rgba(225, 225, 225, 0.05) 33.333%,rgba(114, 114, 114, 0.05) 33.333%, rgba(114, 114, 114, 0.05) 66.666%,rgba(52, 52, 52, 0.05) 66.666%, rgba(52, 52, 52, 0.05) 99.999%),linear-gradient(322deg, rgba(181, 181, 181, 0.05) 0%, rgba(181, 181, 181, 0.05) 33.333%,rgba(27, 27, 27, 0.05) 33.333%, rgba(27, 27, 27, 0.05) 66.666%,rgba(251, 251, 251, 0.05) 66.666%, rgba(251, 251, 251, 0.05) 99.999%),linear-gradient(481deg, rgba(98, 98, 98, 0.05) 0%, rgba(98, 98, 98, 0.05) 33.333%,rgba(222, 222, 222, 0.05) 33.333%, rgba(222, 222, 222, 0.05) 66.666%,rgba(228, 228, 228, 0.05) 66.666%, rgba(228, 228, 228, 0.05) 99.999%),linear-gradient(346deg, #cc3333, #ff9933);
    background-size: contain;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

.pivot_container{
    position: fixed;
    top: 0px;
}
.middle{
    position: relative;
    top: 35%;
    width: 100%;
    display: block;
    margin: auto;
}
.middle h1{font-size: 8vw;}
.backlink{
    color: #fcfcfc;
    display: block;
    margin: auto;
    font-size: 48px;
}
.backlink::before{
    background: #fcfcfc;
    position: relative;
    top: 150%;
    height: 25%;
}