.slideshow-container {
  background-color: #1e1e1e;
  width: 100%;
  height: auto;
}
body{
  margin: 0;
}
.slide{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.grid2{
  margin-left: 10%;
  color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.slide2{
  gap: 0;
  margin-left: 15%;
}
.slide_content{
  text-align: left;
  width: 70%;
  height:auto;
  margin-top: 2rem;
}
.slide_content h1{
  text-align: center;
  font-size: 2.5rem;
  
}
.slide_content p{
  height: 60%;
  font-size: 1.2rem;
}
.slide_image img{
  float: right;
  width: 30vw;
  margin: 2rem 8rem 0 0;
}
.image2 img{
  float: left;
  width: 30vw;
  margin-left:0rem;
}
