body{
    margin: 0;
}
.grid2{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 1rem;
}
.grid2 div{
    margin-top: 0.4rem;
}
footer{
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e1e;
    color: #fcfcfc;
}
.stack_2{
    padding:1rem 6rem ;
    text-align: left;
}
.footer_items{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #b8b6b6;
    text-decoration: none;
}
.item2{
    padding-top: 2vh;
}
#copyright{
    margin-top: 0.5rem;
    background: #1e1e1e;
    padding: 1rem 3rem;
    border-top: #fcfcfc85 1px solid;
    font-size: 1.1rem;
    color: #fcfcfc;
}
.icon_div{
    position: absolute;
    left: 0;
    width:35rem;
    height: auto;
    margin-left: 0;
    padding: 1.5rem 1rem;
    background: #000000;
}


.icon_div a{
    margin: 1rem;
}
.icon_div a:first-child{
    margin-left: 5rem;
}
.icons{
    margin:0.5rem 0.8rem;
    width: 3.1rem;
    height: auto;
}
.map{
    margin-left:4rem ;
    border: none;
    border-radius: 10px;
    height: 256px;
    width: 500px;
    
}
.foot_map{
    border-left:#fcfcfc85 1px solid ;
}
@media screen and (max-width:768px){
    .icon_div{
        display: inline;
        width: 100vw;
    }
    .icon_div a:first-child{
        margin-left: 0rem;
    }
    .grid2{
        display: inline-block;
    }
    .stack_2{
        display: flex;
    }
    .map{
        margin: auto;
    }
    .footer_items{
        font-size: 1rem;
        margin-left: 2vw;
    }
    .item2{
        margin-left: 10vw;
    }
    .icons{
        width: 25px;
        margin:0.2rem 0.5rem;
    }
    .map{
        margin-top: 18vh;
        border: none;
        border-radius: 10px;
        height: 256px;
        width: 100%;
    }
    .foot_map{
        border-left:none ;
        padding-bottom: 15m;
    }
    #copyright{
       display: none;
    }
}
