 body{
  background: black;
  text-align: center;
}

.top{
  color: white;
  font-family: 'Source Code Pro', monospace;
  margin-top: 100px;
  background: black;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
}
p{
  line-height: 0;
}
.mid{
  line-height: 2px;
  font-size: 20px;
}
.mo{
  margin: 0 auto 0 auto;
  font-size: 30px;
}
hr{
  width: 28%;
  background: white;
  margin: 0 auto 0 auto;
}
.hrvv{
  width: 1px;
  height: 15px;
  background: white;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}
.bot-left{
  margin: 0 auto 0 auto;
  font-size: 20px;
  line-height: 0;
  padding-right: 30px;
}
.bot-right{
  margin: 0 auto 0 auto;
  font-size: 20px;
  line-height: 0;
  padding-left: 30px;
}
table{
  margin: -40px auto 0 auto;
  border-spacing: 50px;
}
.but{
  background-color: blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#pp{
  padding-bottom: 20px;
}
@media screen and (min-width: 500px) and (max-width: 713px){
  table{
    margin: -40px auto 0 auto;
    border-spacing: 30px;
  }
  .bot-left{
    margin: 0 auto 0 auto;
    font-size: 17px;
    line-height: 0;
    padding-right: 30px;
  }
  .bot-right{
    margin: 0 auto 0 auto;
    font-size: 17px;
    line-height: 0;
    padding-left: 30px;
  }
  hr{
    width: 30%;
    background: white;
    margin: 0 auto 0 auto;
  }
  .mid{
    line-height: 2px;
    font-size: 20px;
  }
  .mo{
    margin: 0 auto 0 auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 575px){
  table{
    margin: -40px auto 0 auto;
    border-spacing: 26px;
  }
  .bot-left{
    margin: 0 auto 0 auto;
    font-size: 13px;
    line-height: 0;
    padding-right: 30px;
  }
  hr{
    width: 30%;
    background: white;
    margin: 0 auto 0 auto;
  }
  .bot-right{
    margin: 0 auto 0 auto;
    font-size: 13px;
    line-height: 0;
    padding-left: 30px;
  }
  .mid{
    line-height: 2px;
    font-size: 15px;
  }
  .mo{
    margin: 0 auto 0 auto;
    font-size: 25px;
  }
}
@media screen and (min-width: 411px) and (max-width: 500px){
  table{
    margin: -40px auto 0 auto;
    border-spacing: 17px;
  }
  .bot-left{
    margin: 0 auto 0 auto;
    font-size: 11px;
    line-height: 0;
    padding-right: 30px;
  }
  .bot-right{
    margin: 0 auto 0 auto;
    font-size: 11px;
    line-height: 0;
    padding-left: 30px;
  }
  hr{
    width: 30%;
    background: white;
    margin: 0 auto 0 auto;
  }
  .mid{
    line-height: 2px;
    font-size: 12px;
  }
  .mo{
    margin: 0 auto 0 auto;
    font-size: 21px;
  }
}
@media screen and (min-width: 360px) and (max-width: 411px){
  table{
    margin: -40px auto 0 auto;
    border-spacing: 1px;
  }
  .bot-left{
    margin: 0 auto 0 auto;
    font-size: 11px;
    line-height: 0;
    padding-right: 30px;
  }
  .bot-right{
    margin: 0 auto 0 auto;
    font-size: 11px;
    line-height: 0;
    padding-left: 30px;
  }
  hr{
    width: 30%;
    background: white;
    margin: 0 auto 0 auto;
  }
  .mid{
    line-height: 2px;
    font-size: 12px;
  }
  .mo{
    margin: 0 auto 0 auto;
    font-size: 22px;
  }
}
@media screen and (min-width: 280px) and (max-width: 360px){
  table{
    margin: -40px auto 0 auto;
    border-spacing: 0;
  }
  .bot-left{
    margin: 0 auto 0 auto;
    font-size: 9px;
    line-height: 0;
    padding-right: 30px;
  }
  .bot-right{
    margin: 0 auto 0 auto;
    font-size: 9px;
    line-height: 0;
    padding-left: 30px;
  }
  hr{
    width: 30%;
    background: white;
    margin: 0 auto 0 auto;
  }
  .mid{
    line-height: 2px;
    font-size: 9px;
  }
  .mo{
    margin: 0 auto 0 auto;
    font-size: 20px;
  }
  .titles{
    width: 100px;
    height: 100px;
  }
  .but{
    background-color: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
  }
  p{
    width: 50px;
    height: 100px;
  }
}

.title{
  font-size: 8vh;
}
h1, h2, h3, h4, h5, h6, p, pre, a{
  font-family: 'Source Code Pro';
}