h1{
    text-align: center;
    
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.top{
    font-size: 40px;
    font-size: 3.5rem;
    text-align: center;
    background: black;
    padding: 30px;
    
    
}

p{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: white;

    
}
.top1{
   padding-top: 100px;
}

#but{
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 21px;
  font-weight: 600;
  padding: 18px 60px;
  text-align: center;
  margin: 4rem auto;
  
}

#but:not([disabled]) {
  cursor: pointer;
}

#but:hover {
  background-color: #2954bf !important;
}

  .but:hover {
    color: #11999E;
    
  }
  .silver{
      padding-top: 90px;
      text-align: center;
      font-size: 40px;
      
  }

  .Gold{
      padding-top: 90px;
      text-align: center;
      font-size: 40px;
  }
  
  .Lorem1{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 15px;
    height: 10px;
     
    
  }

  .Lorem2{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 15px;
    height: 10px;
    
    
    
    
    
  }

  .Epsom1{
    background-color:white;
    color: black;
    padding: 10px 47px 10px 47px;
    text-decoration: none;
    font-size: 25px;
    margin: 0 auto 0 auto;
    font-family: 'Source Code Pro', monospace;
   
    margin: 0;
  }
  .Epsom2{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 0 auto 0 auto;
    font-family: 'Source Code Pro', monospace;
   
    margin: 0;
  }

  table{
      margin: 0 auto;
      border-spacing: 200px;
      
     
  }
  .A1{
      padding-right: 30px;

      
     
  }
  .A2{
    padding-left: 30px;
  }
  .table2{
    border-spacing: 100px;
  }

  @media (max-width: 767px){
  
    .silver{
     margin: 0 auto 0 auto;
      
  }

  .Gold{
      margin: 0 auto 0 auto;
  }

  .top1{
    margin: 0 auto 0 auto;
    
 }
 .table2{
  border-spacing: 80px;
    }
    .top1{
      font-size: 25px;
    }
 
    
}
@media (max-width: 545px){
  .table2{
border-spacing: 80px;
  }

  .Lorem1{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 15px;
    height: 10px;
     
    
  }
  .top1{
    font-size: 25px;
  }
  .Lorem2{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 15px;
    height: 10px;
    
    
    
    
    
  }

  .Epsom1{
    background-color:white;
    color: black;
    padding: 10px 47px 10px 47px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto 0 auto;
    font-family: 'Source Code Pro', monospace;
   
    margin: 0;
  }
  .Epsom2{
    background-color:white;
    color: black;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto 0 auto;
    font-family: 'Source Code Pro', monospace;
   
    margin: 0;
  }

}
@media (max-width: 545px)
{
  .table2{
    border-spacing: 50px;
  }
  .top1{
    font-size: 25px;
  }
}

@media (max-width: 455px){
  .table1{
    border-spacing: 10px;
  }
  .table2{
    border-spacing: 45px;
    position: absolute;
    left: 12px;
  }
  .top1{
    font-size: 25px;
  }
  
 
}
@media (max-width: 360px){
 table{
   margin: 0;
 }
 .table1{
   border-spacing: 0px;
 }
 .table2{
   border-spacing: 40px;
 }
 .top1{
   font-size: 25px;
 }
 .but{

 }

 .Lorem1{
  background-color:white;
  color: black;
  padding: 10px 28px 10px 28px;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  width: 15px;
  height: 10px;
   
  
}
 .Lorem2{
  background-color:white;
  color: black;
  padding: 10px 28px 10px 28px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 0;
  font-family: 'Source Code Pro', monospace;
  width: 15px;
  height: 10px;
  
}
.Epsom1{
  background-color:white;
  color: black;
  padding: 10px 35px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 auto 0 auto;
  font-family: 'Source Code Pro', monospace;
 
  margin: 0;
}
.Epsom2{
  background-color:white;
  color: black;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 auto 0 auto;
  font-family: 'Source Code Pro', monospace;
 
  margin: 0;
}

 

}




 





